# Python Basics (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [2]:
number = 6
print(number)

number = 5
print(number)

6
5

##### Assinging float

In [3]:
number_float = 2.3
print(number_float)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [5]:
num1 = 2
num2 = 5.4

result = num1 +num2

print(result)

result += 2
print(result)

7.4
9.4

##### Subtraction

In [18]:
result_diff = num2 - num1

print(result_diff)

3.4000000000000004

##### Multiplication

In [8]:
result_mul = num1 * num2
print(result_mul)

10.8

##### Division

In [10]:
result_div = num2 / num1
print(result_div)

2.7

##### Floor Division

In [11]:
result_floor = num2//num1
print(result_floor)

2.0

##### Modulo

In [14]:
result_mod = num2 % num1
print(result_mod)

1.4000000000000004

##### Exponential

In [15]:
squre = 5 **2
print(squre)

25

### String Input-Output

##### String Assignment

In [19]:
name = 'Joel'
print(name)

Joel

##### print() <br>
<p>Don't forget about end=' '</p>

In [21]:
print(name, end=' carter')

Joel carter

##### String Concatenation

In [23]:
first_name = 'john'
last_name = 'smith'

full_name = first_name + " " + last_name
print(full_name)

john smith

##### Type Conversion

In [26]:
nubmer = '32'
change_type = float(nubmer)
print(change_type)
change_type += 5
print(change_type)

32.0
37.0

##### input()

In [29]:
 # this is a single comment
age = int(input("what is your age? "))
value_of_age = age + 2

print(value_of_age)
# this is another commen

what is your age? 40
42

##### format()

In [31]:
# ask user for age
age = int(input("what is your age? "))

# print out a formatted string with their age

# print('You are {} years old, and I am {} years old'.format(age, 34))

print('You are {} years old, and I am {} years old'.format(age, 34))

what is your age? 30
You are 30 years old, and I am 34 years old

##### Old Way (python 2)

In [36]:
# using the % sign to format strings in python 2
# %d = digit, %s = string, %i = int

age= 2
result_string2 = "you are {} and you're getting old!".format(age)

print(result_string2)


result_string3= f"you are {age} and you are young!"
print(result_string3)

you are 2 and you're getting old!
you are 2 and you are young!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [40]:
car_make = input("What brand of car do you have? ").upper()
car_model = input("What model is it? ").title()
car_color = input("What color is it? ").title()
car_year = input("What year is it? ")

result = f"You have a {car_color} {car_year} {car_make} {car_model}"

print(result)

What brand of car do you have? vw
What model is it? touareg
What color is it? black
What year is it? 2014
You have a Black 2014 VW Touareg

### If Statements

In [43]:
num1 = 5
num2 =10
if num1 * 2 == num2:
    print("equal values")
else:
    print("Not equal")
    
if num2 >= num1:
    print("This value is greater")
else:
    print("This value is lower")

equal values
This value is greater

##### 'is' keyword

In [45]:
# use is when checking for same object, not same value
num3 = 55
if num3 is 55:
    print("This is a number")
    print(type(num3))

if num3 is '55':
    print("Not a number")

This is a number
<class 'int'>

##### 'in' keyword

In [46]:
# check if char in name
char_name = "Max Payne"

if "M" in char_name:
    print("The character who lost everything")

The character who lost everything

##### 'not in' keyword'

In [50]:
number = '34'

if 'a' not in number:
    print("'a' is not here.."")

'a' is not here..

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [47]:
name = input("What is your name?").lower()

if 'p' in name:
    print(f"{name}, you have the letter 'p' in your name!")

What is your name?peter zalejski
peter zalejski, you have the letter 'p' in your name!

## Using 'and'/'or' with If Statements

In [57]:
# when using 'and' keyword, checks to see if true and true
num1 = 2
num2 = 2
num3 = 2


# if num1 == num2 and num1 == num3:
#     print('True and true')

if num1 == num2 and num1 == num3:
    print("True and True")


# when using 'or' keyword, checks to see if one side is true
num1 = 2
num2 = 3
num3 = 4
# if (num1 == num2 and num1 == num3) or num2 > num1:
#     print('False and true')

if(num1 == num2 and num1 == num3) or num2 >num1:
    print("False and True")

True and True
False and True

### Elif Statements

In [65]:
first_name = "Max"

if first_name =='Smith':
    print('The name is smith')
elif first_name != 'Max':
    print('the name is NOT max')
else:
    print('The name IS Max')

The name IS Max

### Else Statements

In [ ]:
# see above

# In-Class Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [52]:
user_age = int(input("What is your age? "))

if user_age < 18:
    print("I'm sorry, but you're still a kid.")
elif user_age >=18 and user_age <= 65:
    print("You are an adult!")
else:
    print("You're a senior!")

What is your age? 12
I'm sorry, but you're still a kid.

### For Loops

In [2]:
# for keyword, counter, in keyword, condition

# for i in range(10):
#     print(i)

for number in range(0,11):
    print(number)

0
1
2
3
4
5
6
7
8
9
10

##### Using 'in' keyword

In [55]:
# see above
test_num = 6
if test_num in range (0,11):
    print(f"{test_num} is in the range ")

6 is in the range

##### Continue Statement

In [ ]:
# will continue to next iteration

In [79]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [ ]:
for i in range(20):
    if i == 5:
        break
    print(i)

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass

##### Double For Loops

In [1]:
for i in range(5):
    for j in range(5):
        print( "i = " , i , "j = " , j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [4]:
# based on a conditional statement
num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [5]:
game_over = False

while True:
    print("Infinite Loop")
    if game_over == False:
        break

Infinite Loop

##### While & For Loops Used Together

In [6]:
num = 0

while num <5:
    print("While Loop Iteration: " + str(num))
    
    for i in range(2):
        print("For Loop Iteration: " + str(i))
    
    num += 1

While Loop Iteration: 0
For Loop Iteration: 0
For Loop Iteration: 1
While Loop Iteration: 1
For Loop Iteration: 0
For Loop Iteration: 1
While Loop Iteration: 2
For Loop Iteration: 0
For Loop Iteration: 1
While Loop Iteration: 3
For Loop Iteration: 0
For Loop Iteration: 1
While Loop Iteration: 4
For Loop Iteration: 0
For Loop Iteration: 1

### Built-In Functions

##### range()

In [9]:
# start, stop, step
for num in range(0,10,2):
    print(num)

0
2
4
6
8

##### len()

In [12]:
# check length of variable

name = "tommy"

# print(length)
print(len(name))

for i in range(len(name)):
    print(name[i])

5
t
o
m
m
y

##### help()

In [13]:
# to view more information on a python function
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

##### isinstance()

In [17]:
# isinstance(var, type)
# allows you to find out the type of object youre working with

if isinstance(4.5, float):
    print("This is a float!")
    
if isinstance(name, str):
    print("this is str")

This is a float!
this is str

##### abs()

In [18]:
print(abs(-5))

5

### Try and Except

In [24]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop
try:
    number_test = 0
    input_num = int(input("guess a number ")) # if we dont specify the input as int, it will fail as it will try to add a string to an int
    if input_num != number_test:
        input_num = input_num + number_test
        print("your number is: ", str(input_num))
except:
    print('that did not work')

guess a number 30
your number is:  30

### Lists

##### Declaring Lists

In [2]:
# list also known as an array in other languages
l_l = []

names = ['Max', 'Cindy', 'Kathy','Bob']

##### Indexing a List

In [3]:
# [-1], [start: stop: step]

# print(names[0])
print(names[0])
# print(names[1:]) # starts at 1 goes to end
print(names[1:])
# print(names[:2]) # starts at beginning prints index 0 and 1
print(names[:2])
# print(names[1::2]) # starts at index 1 goes up by 2 each iteration (basically prints out all odd indexes)
print(names[1::2])
# print(names[::-1]) # reverse printed order
print(names[::-1])

Max
['Cindy', 'Kathy', 'Bob']
['Max', 'Cindy']
['Cindy', 'Bob']
['Bob', 'Kathy', 'Cindy', 'Max']

##### .append()

In [4]:
names.append("Peter")
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Peter']

##### .insert()

In [5]:
# list.insert(index, value)
names.insert(2, "Oscar")
print(names)

['Max', 'Cindy', 'Oscar', 'Kathy', 'Bob', 'Peter']

##### .pop()

In [6]:
# default last, param = index
# pop returns the element that was removed in case you want to assign it into a variable
result = names.pop()

print(result)

result = names.pop(3)
print(result)

Peter
Kathy

##### .remove()

In [7]:
# value to be removed, not index

names.remove("Max")
print(names)

['Cindy', 'Oscar', 'Bob']

##### del()

In [8]:
# index to be removed, not value
# be careful with del, can cause indexing errors
    
del(names[0])
print(names)

['Oscar', 'Bob']

##### Concatenating Two Lists

In [13]:
# will append two lists together, not add up elements in each list
list_1 = [3,4,5]
list_2 = [0,1,2]

new_list = list_1 + list_2
print(new_list)

[3, 4, 5, 0, 1, 2]

##### Lists Within Lists

In [15]:
# lists are able to hold any type of elements, including lists themselves
# they can also go as deep as you want, having many lists inside of each other

list_of_names = ["Max" , "Sam", "Josh", ["Sally", "Sue", "Tameka"]]

print(list_of_names)
print(list_of_names[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
Sue

##### Looping Through Lists

In [17]:
# two ways to loop through a list, one is by index, the other is using the 'in' keyword
first_names = ["Jim", "Sally", "Fred", "Lucas"]


#Loop with a for Loop
for i in range(len(first_names)):
    print(first_names[i])

# loop based on index
last_name = 'Carter'
for char in last_name:
    print(char)

Jim
Sally
Fred
Lucas
C
a
r
t
e
r

## Exercise #1 <br>
<p>Build a pyramid of x's with 5 rows...</p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; x <br>
&nbsp;&nbsp;&nbsp;&nbsp; x x <br>
&nbsp;&nbsp;&nbsp; x x x <br>
&nbsp;&nbsp; x x x x <br>
&nbsp; x x x x x

In [77]:
number = 1
space = ' '
while number <= 5:
    print((space* ((5-number))) + 'x '*number)
    number += 1

    x
   x x
  x x x
 x x x x
x x x x x

## Exercise #2 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000, so if the cubed number is over 1000 break the loop.</p>

In [18]:
for number in range(0,100000):
    cubed = number **3
    if cubed <= 1000:
        print(cubed)

0
1
8
27
64
125
216
343
512
729
1000

## Exercise #3 <br>
<p>Get first 100 Prime Numbers</p>

In [10]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for num in range(0,101):
    if num > 0:
        for test_num in range (2, num):
            if num % test_num == 0:
                break
        else:
            print(num)

1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

## Exercise #4 <br>
<p>Make an addition calculator that takes in two inputs from the user and performs addition on those two numbers...<br>Then check to make sure that both numbers are instances of int or float<br><i>Hint: Use int() and float() to convert string inputs to numbers</i></p>

In [78]:
first_num = int(input('Please enter a number:'))
second_num = int(input('Please enter a second number: '))

sum = first_num + second_num

print(f"The sum of the two numbers is: {sum}")

Please enter a number:12
Please enter a second number: 18
The sum of the two numbers is: 30

## Exercise #5 <br>
<p><b>Extra Credit</b><br>Do the same as exercise 4, except ask the user what they would like to do (add, subtract, multiply, or divide) then perform that operation...</p>

In [3]:
first_num = int(input('Please enter a number:'))
second_num = int(input('Please enter a second number: '))
what_operation = input("What operation would you like to perfrom?\nAdd, Subtract, Multiply, Divide: ").lower()

if what_operation[0] == 'a':
    sum = first_num + second_num
    print(f"You chose to add\nSum: {sum}")
elif what_operation[0] == 's':
    total = first_num - second_num
    print(f"You chose to subtract\nTotal: {total}")
elif what_operation[0] == 'm':
    total = first_num * second_num
    print(f"You chose to multiply\nTotal: {total}")
else:
    total = first_num / second_num
    print(f"You chose to divide\nTotal: {total}")

Please enter a number:4
Please enter a second number: 2
What operation would you like to perfrom?
Add, Subtract, Multiply, Divide: s
You chose to subtract
Total: 2